# Configuration file for the electrum client
# Settings defined here are shared across wallets
#
# copy this file to /etc/electrum-arg.conf if you want read-only settings

[client]
server = 52.58.50.77:50002:s
proxy = None
gap_limit = 5
# booleans use python syntax
use_change = True
gui = qt
num_zeros = 2
# default transaction fee is in Satoshis
fee = 500000
winpos-qt = [799, 226, 877, 435]
